<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Dependencies/uikit/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/css/san.css" />
    <script src="Dependencies/uikit/dist/js/uikit.min.js"></script>
    <script src="Dependencies/uikit/dist/js/uikit-icons.min.js"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
   
    <title>Sanwise</title>
</head>

<header>
    <div class="uk-position-top">
        <div uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light uk-text-secondary">
        <nav class="uk-navbar-container uk-navbar-transparent">
          <div class="uk-container">
            <div uk-navbar>
              <div class="uk-navbar-left uk-visible@s">
                <ul class="uk-navbar-nav">
                  <li class="uk-active">
                    <a href="/"><img class="logo" src="/static/img/sanwiselogo1.webp"></a>
                </li> 
                </ul>
               
              </div>
              <div class="uk-navbar-right uk-visible@s">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                      <a class="uk-text-capitalize link-hover" href="/">edede<img class="" src=""/></a>
                    </li>
                    
                </ul>
            
                    
               
                    <ul class="uk-navbar-nav">
                      <a class="uk-text-capitalize contact-btn-nav uk-text-uppercase" href="/"><i class="fa-solid fa-phone"></i> fgfdfdg</a>
                     
                  </ul>
                 
                            
                </div>
    
                <a class="uk-navbar-left uk-hidden@s" uk-toggle="target: #sidenav" href="#">
                  <svg height="40" width="40">
                    <g fill="none" stroke="black">
                      <path class="path" stroke-width="2" d="M5 20 l30 0" />
                      <path class="path" stroke-width="3" d="M5 28 l10 0" />
                      <path class="path" stroke-width="2" d="M5 36 l20 0" />
                    </g>
                  </svg>
                </a>
              </div>
            </div>
          </div>
         
      </div>
    </nav>
    </div>
    
    <div id="sidenav" uk-offcanvas="overlay: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
          
            <li><a class="uk-text-medium" href="/">fdgfdgdgffd</a></li>
            
           
        </ul>
    
        <ul class="uk-navbar-nav uk-margin-top-small">
            <a class="uk-text-capitalize contact-btn-nav uk-text-uppercase" href="/"><i class="fa-solid fa-phone"></i>tttyt</a> 
        </ul>
        
    </div>
    </div>
</header>

<body>
    <div class="uk-container uk-vertical-align" style="max-width:100%; width:100%; padding:0; margin:0px;">

        <div class="uk-width-1-1@m uk-vertical-align">
        <div class="uk-cover-container uk-vertical-align" style="height:40vw">
          <video uk-cover autoplay loop muted>
              <source src="/static/video/videohome.mp4" type="video/mp4">
          </video>
          
      
      
          <div class="uk-text-left" uk-grid style="padding-top:10%">
          <div class="uk-width-1-1">
              <div class="uk-card uk-card-body uk-vertical-align" style="padding-left:40px">
              <h1 class="uk-text-left uk-position-relative uk-vertical" style="width:100%; padding-top:0px; padding-left:0px; font-size:6vw; color:#ffffff; margin:0; font-family: 'Audiowide', cursive; font-weight:bold;">Libérate Ahora</h1>
              </div>
          </div>
          <div id="typed" class="uk-position-cover uk-width-1-1 uk-flex uk-flex-left uk-flex-middle" style="margin-top:50px; padding:0">
              <div class="uk-card uk-card-body" style="padding:0"></div>
      
               <a class="element uk-text-left uk-width-1-1@s uk-width-1-1@m uk-width-1-1@l uk-vertical-align-middle" style="width:100%; padding-left:40px; width:auto; font-size:3.0vw; color:#ffffff; font-family: 'Audiowide', cursive; text-decoration:none;"></a>
                        </a>
          </div>
      </div>
          </div>
          
        </div>
        
        </div>
      
       
          </div>

          <script>
            var typed = new Typed('.element', options);
            var options = {
            strings: ['Comis'],
            typeSpeed: 40
            };
          </script>
      
      
      
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 6000; velocity: 0.8; easing: linear; pause-on-hover:true; draggable: false;" style="padding:10px; top:0; margin-left:auto; margin-right:auto; border-radius:0px; background-color:#2874A6;" uk-scrollspy="cls: target: ; delay: 500; repeat: false">
      
          <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-1@m" style="background-color:#2874A6; padding:7px;">
              <li>
                  
                  <div class="uk-position-center uk-panel uk-text-center uk-flex-middle" style="background-color:#2874A6;">
                  <h3 style="color:#ffffff; font-family: 'Open Sans', sans-serif; font-size:3vmin; font-weight:500; text-shadow: 1px 1px 1px black">
                  <a href="#" style="color:#ffffff; font-family: 'Open Sans', sans-serif; font-size:3vmin; font-weight:500; text-shadow: 1px 1px 1px black">Click Aquí</a> Obtén un 15% de descuento en nuestros productos</h3>
                  
                  </div>
              </li>
             
              <li>
                      <img src="" alt="" style="">
                  <div class="uk-position-center uk-panel uk-text-center">
                  <h3 style="color:#ffffff; font-family: 'Open Sans', sans-serif; font-size:3vmin; font-weight:500; text-shadow: 1px 1px 1px black">El Sabio Escrutinio de tus Datos</h3>
                  
                  </div>
                 
              </li>
              <li>
                      <img src="" alt="" style="">
                  <div class="uk-position-center uk-panel uk-text-center">
                  <h3 style="color:#ffffff; font-family: 'Open Sans', sans-serif; font-size:3vmin; font-weight:500; text-shadow: 1px 1px 1px black">Libera el poder de la colaboración con Google WorkSpace</h3>
                  </div>
                  
              </li>
              <li>
                  <img src="" alt="" style="">
                  <div class="uk-position-center uk-panel uk-text-center">
                  <h3 style="color:#ffffff; font-family: 'Open Sans', sans-serif; font-size:3vmin; font-weight:500; text-shadow: 1px 1px 1px black">Bienvenidos a Sanwise</h3>
                  </div>
              </li>
          </ul>
      
          
      
      </div>
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-1.41,4.43 C150.00,150.00 295.43,22.20 500.27,18.25 L500.00,0.00 L-2.55,-5.43 Z" style="stroke: none; fill:#2874A6;"></path></svg></div>
      
      
      
      
      <div uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card-body; delay: 1500; repeat: true">
          <div class="uk-card uk-card-body uk-width-1-2@s uk-width-1-2@m uk-width-1-2@l uk-text-center" style="padding:0px; margin-left:auto; margin-right:auto; margin-top:40px; margin-bottom:0px">
          <h1 class="uk-card-title uk-text-center" style="padding-right:35px; padding-left:60px; margin-left:auto; margin-right:auto; color: #000000; font-family:'Open Sans', sans-serif; font-weight:700; font-size:40px">Productividad y Colaboración</h1>
          </div>
      </div>
      
      <div class="uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card-body; delay: 2000; repeat: true" style="margin-top:60px; margin-bottom:180px; margin-left:auto; margin-right:auto;">
      <div class="uk-card uk-card-default uk-card-body uk-width-1-2@s uk-width-1-2@m uk-width-1-2@l uk-text-center" style="margin-left:auto; margin-right:auto; margin-top:0px; padding-left:30px">
      <video style="width:100%; height:auto" src="https://kstatic.googleusercontent.com/files/b5b031119ba26c8d2eff552c9f05c75b61eec46ca5ee3b4b0d6e3ff79b3819fcc9d960473a7d068b2a8e0bd466d8737704a4e2e6a4cf8d92bbee185f825a8d8a" uk-responsive uk-video="autoplay:inview"></video>
      
      </div>
      </div>
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-0.27,147.53 C252.54,1.48 251.41,1.48 501.97,149.50 L503.67,156.41 L-0.84,167.27 Z" style="stroke: none; fill:#ff014a;"></path></svg>
      </div>
      
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill:#ff014a;">
      </path></svg></div>
          
      <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin uk-cover-background uk-flex-middle uk-width-1-1" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card-media; delay: 2200; repeat: true" style="padding:0 !important; margin:0 !important; background-color:#FFFFFF; padding-left:30px;">
         
          <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
           
          
               <video class="uk-card-media" style="padding:30px; border-radius:12px;" src="https://kstatic.googleusercontent.com/files/be1405211a291aa959a67fd0a1053c9ba64c96a6bd8cb38372ee499f59b6db51cfc085659a5e69b3580787ecf5dc4b1b97f2d3d5a31b6f0e8e44840455736e23" 
               alt="" uk-responsive uk-video="autoplay:inview" uk-cover>
              </video>
              <canvas width="600" height="400" style="border-radius:12px"></canvas>
          </div>
          <div>
           <div class="uk-position-relative uk-light uk-text-center" tabindex="-1" style="width:100%; top:0; margin:0; border-radius:0px;" uk-scrollspy="cls: uk-animation-fade; delay: 1500; repeat: true">
      
              <div class="vwrap uk-text-left"><div class="vmove">
                  <div class="vslide">
                    <h3 style="color:#2874A6; font-family: 'Open Sans', sans-serif; font-size:40px; font-weight:700;">Crea</h3>
                  
                  </div>
                  <div class="vslide">
                    <h3 style="color:#ff014a; font-family: 'Open Sans', sans-serif; font-size:40px; font-weight:700;">Colabora</h3>
                   
                  </div>
                  <div class="vslide">
                    <h3 style="color:#148F77; font-family: 'Open Sans', sans-serif; font-size:40px; font-weight:700;">Innova</h3>
                   
                  </div>
      
                
                </div>
      
                
              </div>
      
              <div style="margin-left:30px; margin-right:30px;">
                  <h2 class="uk-text-left" style="padding-top:0px; color:#000; font-family: 'Open Sans', sans-serif; font-size:30px;">Con tu equipo de trabajo, alcancemos metas juntos!</h2>
              </div>
              </div>
                      
          </div>
      </div>
      
      
      
      
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 100px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #049400 ;">
      </path></svg></div>
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.28,-0.48 C128.38,225.48 324.77,57.72 551.06,-15.28 L192.71,-7.39 L-0.27,-0.48 Z" style="stroke: none; fill: #049400;">
      </path></svg></div>
      
      <div class="uk-width-1-1@s uk-width-1-1@m uk-width-1-1@l uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card-body; delay: 1800; repeat: true" style="margin:0; margin-left:auto; margin-right:auto; padding-top:0px">
          
      
          <div class="uk-card uk-card-body uk-width-1-1@s uk-width-1-1@m uk-width-1-1@l uk-text-center" style="width:80%; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:0px">
      
      
          <h1 class="uk-card-title uk-text-center uk-position-relative" style="margin-left:auto; margin-right:auto; color: #000; font-family:'Open Sans', sans-serif; font-weight:700; font-size:40px">El futuro del trabajo</h1>
          <p class="uk-card-title uk-text-center" style="color:#000; font-family:'Open Sans', sans-serif; font-weight:500; font-size:30px">En esta nueva realidad, el trabajo se está transformando en formas sin precedentes.</p>
          </div>
      </div>
      
      
      
      <div class="uk-child-width-1-3@s uk-grid-match" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 800; repeat: true" style="border-radius:12px;">
      <div class="uk-card" style="border-radius:12px; background-color:transparent">
          <div class="uk-card-header uk-card-hover" style="background-color: #2980b9; border-top-left-radius:40px; border-top-right-radius:40px">
              <div class="uk-grid-small uk-flex-middle" uk-grid style="border-radius:12px">
                  <div class="uk-width-expand uk-text-center" style="background-color: #2980b9">
                  <div>
                      
                  </div>
                  <div class="uk-width-expand uk-text-center uk-align-center" style="background-color: #2980b9">
                  <i style="color:#ffffff; padding-top:0px; font-size:20px" class="fas fa-globe-americas"></i>
                  <p class="uk-text-center" style="color:#ffffff; font-family:'Open Sans', sans-serif; 
                   margin:0; padding-bottom:0px; font-size:20px">Cambiando la forma de hacer negocios</p>
                  </div>
                  
                  </div>
              </div>
          </div>
          
          <div class="uk-card-body uk-text-center">
          <img src="static/img/chart.png" style="width:50%; margin-let:auto; margin-right:auto;">
              <p style="font-size:20px; font-family:'Open Sans', sans-serif;"><b>90% de los ejecutivos</b> creen que el COVID-19 cambiará fundamentalmente la forma en que hacemos negocios durante los próximos 5 años.</p>
          </div>
         
          </div>
      
        <div class="uk-card " style="border-radius:12px; background-color:transparent">
          <div class="uk-card-header uk-card-hover" style="background-color: #f4d03f; border-top-left-radius:40px; border-top-right-radius:40px">
              <div class="uk-grid-small uk-flex-middle" uk-grid style="border-radius:12px">
                  <div class="uk-width-expand uk-text-center" style="background-color: #f4d03f">
                  <div>
                      
                  </div>
                  <div class="uk-width-expand uk-text-center uk-align-center" style="background-color: #f4d03f">
                  <i style="color:#ffffff; padding-top:0px; font-size:20px;" class="fas fa-laptop"></i>
                  <p class="uk-text-center" style="color:#ffffff; font-family:'Open Sans', sans-serif; 
                  font-size:20px; margin:0; padding-bottom:0px">Un entorno laboral cada vez más flexible</p>
                  </div>
                  
                  </div>
              </div>
          </div>
          
          <div class="uk-card-body uk-text-center">
          <img src="static/img/users2.PNG" style="width:100%; padding-top:10px; margin-left:auto; margin-right:auto; padding-bottom:15px">
              <p style="font-size:20px; font-family:'Open Sans', sans-serif;"><b>90% de organizaciones</b> permitirá a los empleados trabajar desde su casa al menos parte del tiempo, añadiendo flexibilidad a sus operaciones.</p>
          </div>
          
          </div>
      
      <div class="uk-card" style="border-radius:12px; background-color:transparent">
          <div class="uk-card-header uk-card-hover" style="background-color: #1e8449; border-top-left-radius:40px; border-top-right-radius:40px">
              <div class="uk-grid-small uk-flex-middle" uk-grid style="border-radius:12px">
                  <div class="uk-width-expand uk-text-center" style="background-color: #1e8449">
                  <div>
                      
                  </div>
                  <div class="uk-width-expand uk-text-center uk-align-center" style="background-color: #1e8449">
                  <i style="color:#ffffff; padding-top:0px; font-size:20px" class="fas fa-users"></i>
                  <p class="uk-text-center" style="color:#ffffff; font-family:'Open Sans', sans-serif; 
                  font-weight:; font-size:20px; margin:0; padding-bottom:0px">Con quién trabajamos está evolucionando</p>
                  </div>
                  
                  </div>
              </div>
          </div>
          
          <div class="uk-card-body uk-text-center">
          <img src="static/img/chart2.PNG" style="width:50%; margin-left:auto; margin-right:auto;">
              <p style="font-size:20px; font-family:'Open Sans', sans-serif;"><b>32% de organizaciones</b> están reemplazando a los empleados a tiempo completo con trabajadores contingentes como una medida de ahorro de costos.</p>
          </div>
          
          </div>
      
      <div class="uk-width-1-1@s uk-width-1-1@m uk-width-1-1@l uk-text-center" style="margin-top:180px; margin-left:auto; margin-right:auto;">
       
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-7.05,-6.41 C157.73,195.88 402.64,61.67 504.22,-3.45 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:#fff143"></path></svg>
      </div>
      
          </div>
      </div>
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M249.72,78.45 C250.84,78.45 472.63,251.14 514.39,-73.52 L510.44,-29.11 L-43.73,-13.31 Z" style="stroke: none; fill:#fff143;"></path></svg>
      </div>
      
      <div class="uk-card uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid style="padding-top:60px" uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card-media-left; delay: 1500; repeat: true">
          <div class="uk-card-media-left uk-cover-container">
              <iframe style="border-radius:12px" width="600" height="500" src="https://www.youtube-nocookie.com/embed/egSfiBQFFY4?rel=0&end=59&controls=0&loop=1&showinfo=0&modestbranding=1&autoplay=1&mute=1" 
                title="Google WorkSpace" frameborder="0"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen uk-responsive uk-video="automute: true autoplay:inview"></iframe>
              <canvas width="600" height="0"></canvas>
          </div>
          <div>
              <div class="uk-card-body" uk-scrollspy="cls: uk-animation-fade; target: .uk-card-title; delay: 1500; repeat: true">
                  <h3 class="uk-card-title" style="font-size:40px; font-family:'Open Sans', sans-serif; font-weight:bold">Innovación y flexiblidad</h3>
                  <p class="uk-card-title" style="color:#000; font-size:30px; font-family:'Open Sans', sans-serif; font-weight:300">Innovación y flexibilidad para que tu equipo alcance más objetivos</p>
              </div>
          </div>
      </div>
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-7.05,-6.41 C157.73,195.88 402.64,61.67 504.22,-3.45 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:#fff143"></path></svg>
      </div>
      
          </div>
      </div>
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M249.72,78.45 C250.84,78.45 472.63,251.14 514.39,-73.52 L510.44,-29.11 L-43.73,-13.31 Z" style="stroke: none; fill:#fff143;"></path></svg>
      </div>
      
      
      <div uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card-body; delay: 1500; repeat: true">
          <div class="uk-card uk-card-body uk-width-1-2@s uk-width-1-2@m uk-width-1-2@l uk-text-center" style="padding:0px; margin-left:auto; margin-right:auto; margin-top:40px; margin-bottom:20px">
          <h1 class="uk-card-title uk-text-center" style="padding-right:35px; padding-left:60px; margin-left:auto; margin-right:auto; color: #00000; font-family:'Open Sans', sans-serif; font-weight:700; font-size:40px">Empieza ahora!</h1>
          </div>
      </div>
      
      
       <div class="uk-text-center" uk-scrollspy="cls: uk-animation-fade; delay: 1500; repeat: true">
          
              <img src="/static/img/heart.gif" style="width:15%">
      
      </div>
      
      
      
      
      
      <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
      
      <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-3.11,109.03 C150.00,150.00 349.20,-50.00 512.69,166.27 L48.81,168.25 L0.00,150.00 Z" style="stroke: none; fill: #08f;"></path></svg>
      </div>
      
      
      
      
          <ul class="uk-width-1-1@s uk-width-1-1@m uk-width-1-1@l" uk-accordion="collapsible:false" style="background-color:#08f; margin:0;">
         
          <li>
              <a class="uk-accordion-title uk-text-center uk-icon-chevron-down" style="background-color:#08f; color:#ffffff; padding:30px; font-family:'Open Sans', sans-serif;"><h3 style="background-color:#08f; color:#ffffff; font-family:'Open Sans', sans-serif;">Transforma a tu organización ahora!</h3></a>
              <div class="uk-accordion-content">
                  <h3 class="uk-text-center" style="font-family:'Open Sans', sans-serif; color:#ffffff; margin-left:30px; margin-right:30px;">Déjanos tus datos, nos pondremos en contacto contigo en breve</h3>
                  <div class="uk-child-width-1-1@s uk-light" uk-grid>
                       {% with messages = get_flashed_messages() %}
                      {% if messages %}
      
                    <h3 class="uk-h1 uk-card-title uk-text-center" style="width:100%; padding-left:0px; color:#ffffff; font-family: 'Open Sans', sans-serif; font-size:6vmin; font-weight:900; margin-top:0">Gracias por elegirnos!</h3>
                   <ul class=flashes style="padding-left:0;">
                  
                 </ul>
                 
                  
                      {% for message in messages %}
                      <div class="uk-alert-success uk-text-center" uk-alert style="width:auto; margin:0; padding:0; margin-left:auto; margin-right:auto; border-radius:15px; border:1px solid #ffffff !important;">
                         <a class="uk-alert-close" uk-close style="color:#ffffff;"></a>
                         <span class="uk-text-center" style="text-decoration:none; border-radius:15px"><p style="width:auto; margin:0; padding:15px; font-family: 'Open Sans', sans-serif; font-size:3.3vmin; color:#ffffff;"><i class="far fa-check-circle" style="color:#ffffff;"></i> Registro Exitoso! </p></span>
                      </div>
                      <div class="uk-text-center uk-width-1-1" style="margin-top:30px; margin-left:auto; margin-right:auto; margin-bottom:30px;">
                          <a class="uk-button-secondary uk-button textbutton button_slide slide_right uk-text-center" href="/homecrm">Ir a Home</a>
                  </div>
                 
                {% endfor %}
                {% else %}   
               
          <div>
              <div class="uk-height-large uk-panel uk-flex uk-flex-center" style="background-color:#08f; height:120vh">
                  <div class="uk-card uk-width-1-2@s uk-width-1-2@m uk-width-1-2@l" style="margin-left:15px; margin-right:15px; background-color:#08f; border-radius:12px; width:90%">
                      
                              
      
      
          <div class="uk-card uk-card-body uk-position-center" style="width:100%; margin-top:30px; margin-left:auto; margin-right:auto; margin-bottom:30px; border-radius:18px; padding:40px; color:#000; padding-top:0;">
              
             
      
              <form action="{{ url_for('index') }}" method="POST" class="uk-grid-small uk-width-1-1" uk-grid style="padding:0; margin-left:auto; margin-right:auto; color:#000;">
                {{ form.hidden_tag() }}
          
          <div class="uk-width-1-1@s  uk-text-left" style="width:100%; margin-top:0px">
                 
            
           
             </div>
      
           <div class="uk-width-1-2@s uk-card uk-card-body uk-text-left" style="margin-top:0px; padding-bottom:0px; font-family:Montserrat, sans-serif; color:#000;">
                {{ form.nombres.label(class="uk-form-label") }}
           {{ form.nombres(class="uk-input") }}
           {% for error in form.nombres.errors%}
           <span style="text-decoration:none; color:red; font-size:11px;">{{error}}</span>
           {%endfor%}
           </div>
      
           <div class="uk-width-1-2@s uk-card uk-card-body uk-text-left" style="margin-top:5px; padding-bottom:0px; font-family:Montserrat, sans-serif">
              {{ form.apellidos.label(class="uk-form-label") }}
         {{ form.apellidos(class="uk-input") }}
         {% for error in form.apellidos.errors%}
         <span style="text-decoration:none; color:red; font-size:11px;">{{error}}</span>
         {%endfor%}
         </div>
      
           <div class="uk-width-1-1@s uk-card uk-card-body uk-text-left" style="margin-top:5px; padding-bottom:0px; font-family:Montserrat, sans-serif">
                {{ form.correo.label(class="uk-form-label") }}
           {{ form.correo(class="uk-input") }}
           {% for error in form.correo.errors%}
           <span style="text-decoration:none; color:red; font-size:11px;">{{error}}</span>
           {%endfor%}
           </div>
            
           <div class="uk-width-1-2@s uk-card uk-card-body uk-text-left" style="margin-top:5px !important; padding-bottom:0px; font-family:Montserrat, sans-serif">
           {{ form.empresa.label (class="uk-form-label") }}
           {{ form.empresa(class="uk-input") }}
           {% for error in form.empresa.errors%}
           <span style="text-decoration:none; color:red; font-size:11px;">{{error}}</span>
           {%endfor%}
           
           </div>
      
           <div class="uk-width-1-2@s uk-card uk-card-body uk-text-left" style="margin-top:5px !important; padding-bottom:0px; font-family:Montserrat, sans-serif">
              {{ form.celular.label (class="uk-form-label") }}
              {{ form.celular(class="uk-input") }}
              {% for error in form.celular.errors%}
              <span style="text-decoration:none; color:red; font-size:11px;">{{error}}</span>
              {%endfor%}
              
          </div>
      
          <div class="uk-width-1-1@s uk-card uk-card-body uk-text-left" style="margin-top:5px; padding-bottom:0px; font-family:Montserrat, sans-serif">
              {{ form.mensaje.label(class="uk-form-label") }}
         {{ form.mensaje(class="uk-input") }}
         {% for error in form.mensaje.errors%}
         <span style="text-decoration:none; color:red; font-size:11px;">{{error}}</span>
         {%endfor%}
         </div>
      
         <div class="uk-card uk-card-body uk-text-center" style="margin-left:auto; margin-right:auto; padding:5px; width:80%; color:#ffffff;">
          {{ form.checkbox(checked=True, class="uk-checkbox checkbox") }}
          {{ form.checkbox.label(class="check") }}
          <a href="#">Política de Privacidad.</a>
          
           
           </div>
      
          
      
          
             <div class="uk-width-1-1@s uk-card uk-card-body uk-text-center" style="margin-top:30px; padding:0; font-family:Monserrat, sans-serif; margin-bottom:100px;">
              <div class="input-icons uk-text-center" style="margin-left:auto; margin-right:auto;">
              {{ form.submit(class="uk-button uk-button-secondary uk-text-center uk-text-center", style="color:#ffffff; margin-left:5px; border-radius:18px; background-color:#000;") }}
              </div>
            
            </div>
      </div>
              </form>
          </div>
         
      </div>
              </div>
          </div>
      </div>
          </li>
          
      </ul>
      
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#08f" fill-opacity="1" d="M0,96L80,101.3C160,107,320,117,480,138.7C640,160,800,192,960,176C1120,160,1280,96,1360,64L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
      
      <div class="uk-width-xlarge uk-width-1-1@s uk-width-1-1@m uk-width-1-1@l uk-container-center" style="padding-top:15px; padding-bottom:15px; margin-left:auto; margin-right:auto; background-color: #ffffff">
          <div style="margin-left:auto: margin-right:auto;" class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 0; velocity: 0.03; easing: linear; pause-on-hover: false; draggable: false;">
          
              <ul class="uk-slider-items uk-child-width-1-3 uk-child-width-1-3@m">
                  <li>
                      <div class="uk-panel uk-text-center" style="width:auto">
                          <img data-src="static/img/gmail.PNG" alt="Gmail"  style="padding-left:15px; padding-right:15px; background-repeat:no-repeat; background-size:cover;  object-fit: cover; margin-left:auto: margin-right:auto" uk-img>
                          <div class="uk-position-center uk-panel"><h1></h1></div>
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel uk-text-center uk-position-center" style="width:auto">
                          <img data-src="static/img/calendar.PNG" alt="" style="padding-left:15px; padding-right:15px; background-repeat:no-repeat; background-size:cover;  object-fit:cover; margin-left:auto: margin-right:auto;"  uk-img>
                          <div class="uk-position-center uk-panel"><h1></h1></div>
                      </div>
                  </li>
                  <li>
                      <div class="uk-panel uk-text-center uk-position-center" style="width:auto">
                          <img data-src="static/img/drive.PNG" alt=""  style="padding-left:auto; padding-right:auto; width:80%; background-repeat:no-repeat; background-size:cover; object-fit:cover; margin-left:auto: margin-right:auto;" uk-img>
                          <div class="uk-position-center uk-panel"><h1></h1></div>
                      </div>
                      
                  </li>
                  <li>
                      <div class="uk-panel uk-text-center uk-position-center" style="width:auto">
                          <img data-src="static/img/rectangles.PNG" alt="" style="padding-left:15px; padding-right:15px; width:80%; background-repeat:no-repeat; background-size:cover; object-fit: cover; margin-left:auto: margin-right:auto"  uk-img>
                          <div class="uk-position-center uk-panel"><h1></h1></div>
                      </div>
          
                  </li>
          
                  <li style="width:80px">
                      <div class="uk-panel uk-text-center uk-position-center" style="width:auto">
                          <img class="uk-responsive-height" data-src="static/img/meet.PNG" alt="" style="width:40%; padding-left:15px; padding-right:15px; width:80%; background-repeat:no-repeat; background-size:cover; object-fit: cover; margin-left:auto: margin-right:auto"  uk-img>
                          <div class="uk-position-center uk-panel"><h1></h1></div>
                      </div>
          
                  </li>
          
                  <li>
                      <div class="uk-panel uk-text-center" style="width:auto">
                          <img data-src="static/img/gws.PNG" alt="Google WorkSpace"  style="padding-left:15px; padding-right:15px; background-repeat:no-repeat; background-size:cover;  object-fit: cover; margin-left:auto: margin-right:auto" uk-img uk-responsive>
                          <div class="uk-position-center uk-panel"><h1></h1></div>
                      </div>
                  </li>
                 
              </ul>
          
              
          
          </div>
        </div>
        
</body>

        
</html>